* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 24px;
  font-family: sans-serif;
}

.container {
  display: flex;
  /* height: 1000px; */
  flex-direction: row;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
 
  padding: 16px;
  background-color: darkslateblue;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 3rem;
  border: 2px solid lightgreen;
  background-color: lightcoral;
}

