* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: brown;
}

.header-title {
  color: rgb(184, 194, 205);
}

.header-text {
  font-size: 1.25rem;
  color: aliceblue;
}

/* Estilos del main */

.main {
  padding: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-basis: 30%;
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: rgb(207, 91, 91);
}

.card-image {
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  background-color: brown;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: .8rem;
}

.card-title {
  font-size: 1.55rem;
  color: darkred;
}

.card-type {
  font-size: .85rem;
  font-style: italic;
  color: rgb(49, 49, 49);
}

.card-description {
  font-size: 1.1rem;
  line-height: 1.55rem;
  font-weight: 600;
  color: rgb(74, 61, 44);
}

.card-powers {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.card-power-item {
  padding: .3rem .6rem;
  font-size: .8rem;
  border-radius: .6rem;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  background-color: gray;
}

/* Estilos del Footer */
.footer {
  display: flex;
  justify-content: center;
  padding: .5rem;
  color: whitesmoke;
  font-size: 1.2rem;
  background-color: rgb(4, 4, 133);
}

.footer-name {
  font-weight: 600;
  color: coral;
}