/* 
  
  Unidades en CSS

  Las unidades en CSS se dividen en 2 categorias principles

  1. Unidades absolutas

  Mantienen valores fijos independientemente del dispocitivo o contexto.

  Es decir que "siempre" tendran el mismo svalor sin importar el tamaño de pantalla o del contenedor.
  
  Son utiles cuando se requiere presicion en las medidas, pero NO son ideales para diseño web responcivo.

  Las unidades absolutas mas usadas son:

  -px (pixeles) Esta unidad marca un punto en la pantalla.(1/9 de 1in)

  Otras unidades

    -cm(centimetro) 1cm= 96px / 2.54in
    -mm(milimetro) 1/10 de 1cm
    -in(Pulgadas) 1in = 96px
    -pc(picas) 1/6 de 1in
    -pt(punto) 1/72 de 1in

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

}

body {
  font-family: sans-serif;
  margin: 24px;
  padding: 0;
  background-color: darkblue;
}

h1, 
h2 {
text-align: left;
margin-bottom: 24px;
color: whitesmoke;
}

section {
  font-size: 24px;
  margin: 48px 0;
  padding: 24px;
  border-radius: 1px solid white;
  border-radius: 16px;
  background-color: darkgreen;
}

article {
  font-size: 24px;
  margin: 48px 0;
  padding: 24px;
  border-radius: 1px solid white;
  border-radius: 16px;
  background-color: darkgreen;

.box {
  text-align: center;
  margin: 16px auto;
  padding: 16px;
  color: white;
}

.px {
  width: 200px;
  height: 200px;
  background-color: darkblue;
}

.cm {
  width: 5cm;
  height: 5cm;
  background-color: darkgray;
}

.in {
  width: 2in;
  height: 2in;
  background-color: darkred;
}

/* 

  2. Unidades relativas

  son unidades que adaptan sus valores en funcion con el dispocitivo y el contexto. Es decir se cambiaran al area visible del navegador, al contenedor u otro valor de referencia.

  Son utiles cuando necesitas flexibilidad y son ideales para el diseño responcivo.

  Las unidades mas usadas son: 

  em Relativa al tamaño de fuente del elemenetos padre.
  rem Relativa al tamaño de fuente del elemenetos raiz o root > html.
  % Es relativo al elemento padre.
  vw (Viewport width) es un porcentaje relativo al ancho del area visile del navegador.
  vh(viewpor height) Es un porcentaje relativo al alto del area visible del navegador.
  vmin(viewport min) es un porcentaje relativo al lado mas pequeño del area visible del navegador.
  VMX (vIEWORT MAX) es un porcentaje relativo al lado mas grande del area del navegador.
*/
/* Unidades relativas */

.em {
  width: 3em;
  background-color: darkolivegreen;
}

.rem {
  width: 6rem;
  background-color: darkorange;
}

.percent {
  width: 50%;
  background-color: darkgray;
}

.vw {
  background-color: darkmagenta;
}

.vh {
  background-color: darkblue;
}

.vmin {
  background-color: darkcyan;
}

.vmax {
  background-color: darkgoldenrod;
}