* {
 padding: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-around;
  align-content: space-between;
  align-content: space-evenly;
  align-content: stretch;

  gap: 24px;
  row-gap: 40px;
  column-gap: 10px;

  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 24px;
  background-color: darkslateblue;
}

.item {
  width: 100px;
  /* height: 100px; */
  text-align: center;
  font-size: 2rem;
  background-color: lightcoral;
  border: 2px solid lightgreen;
}