/* Resset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  text-align: center;
  font-family: 'inter', sans-serif;
}

.profile-card {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 24px 24px #00000039;
  border-radius: 12px;
  padding: 24px;
}

.profile-photo {
  max-width: 120px;
  border-radius: 50%;
  border: 4px solid #262cdd;
  margin-bottom: 16px;
}

.profile-details h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.profile-details p {
  font-weight: 400;
  font-size: .875rem;
}