/* 
  contexto de apilamiento

  Es un aspecto de lso elementos que se van apilando para que unose coloque delante de otro

  Eln un contexto inicial el navegador determina que elementos dse coloca sobre otro de acuerdoa como se escribe en el HTML.

  Para el contexto del apilamiento se usara la siguiente jeraquia.
  
  1. Elementos posicionados con z-index igual o mayor a 1
  2. Elementos posicionados sin un z-indexo con un z-index: auto.
  3- Elementos NO posicionados
  4. Elementos posicionados con un z-index igual o menor a -1

  propiedad z-index

  Nos permite ordenar los elementos superpuestos y controlar el contexto de apilamiento. Para usar z-index el elemento debe estar posicionado, es decir con la propiedad 'position' declarada y con un valor distinto a 'static'

  Recomendaciones:

  No usar numeros consecutivos: 1,2, 3, 4, 5...
  Se recomienda usar decenas o centenas: 10, 20, 30... o 100, 200, 300...
  No usar numeros en miles: 1000,2000, 3000...

*/
* {margin:0%;
  padding:0%;
box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: white;
  background-color: blue;
}

.box {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 24px;
  border: 1px solid black;
  border-radius: 24px;
}

.box-1 {
position: relative;
top: 25px;
z-index: 1;
background-color: lightblue;
}

.box-2 {
position: relative;
z-index: auto;/* Esto es igaul a no declararlo */
background-color: lightgreen;
}

.box-3 {
  margin-top: -25px;
background-color: lightcoral;
}

.box-4 {
  position: relative;
  top: -25px;
  z-index: -10;
  background-color: lightseagreen;
}